@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto+Slab:wght@300&family=Roboto:wght@300;400;500;700&display=swap');

html {
  overflow-y: scroll;
  background-color: #202020;
  color: #EAE4D8;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: auto;
}

/* Header */

@keyframes unsticky-navbar {
  from {padding: 20px 0 20px 0;}
  to {padding: 40px 0 0 0;}
  from {background-color: #101010;}
  to {background-color: #202020;}
  from {box-shadow: 0 0px 20px #101010;}
  to {box-shadow: 0 0 0 #202020;}
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding: 40px 0 0 0;
  animation-name: unsticky-navbar;
  animation-duration: 0.3s;
}

.nav-container {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-and-name a {
  display: flex;
  color: #EAE4D8;
  text-decoration: none;
}

.logo-and-name a:hover {
  text-shadow : 0 0 80px #EAE4D8;
}

.logo {
  padding: 0 20px 0 0;
}

h1 {
  font-size: 24px;
  margin: 0 0 0 0;
  padding: 10px 0 0 0;
}

.nav-menu {
  list-style: none;
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.nav-item {
  text-decoration: none;
  padding: 10px 0 0 20px;
}

.nav-item a {
  color: #736d5f;
  text-decoration: none;
}

.nav-item a:hover {
  color: #EAE4D8;
  text-shadow : 0 0 40px #EAE4D8;
}

.nav-item a.active {
  color: #EAE4D8;
  text-shadow : 0 0 80px #EAE4D8;
}

@keyframes sticky-navbar {
  from {padding: 40px 0 0 0;}
  to {padding: 20px 0 20px 0;}
  from {background-color: #202020;}
  to {background-color: #101010;}
  from {box-shadow: 0 0 0 #202020;}
  to {box-shadow: 0 0px 20px #101010;}
}

.sticky {
  padding: 20px 0 20px 0;
  background-color: #101010;
  box-shadow: 0 0px 20px #101010;
  animation-name: sticky-navbar;
  animation-duration: 0.3s;
}

/* Home */

main {
  margin: 180px 0 0 0;
}

.hero {
  display: flex;
}

h2 {
  margin: 0 0 40px 0;
  font-size: 48px;
}

.portrait {
  padding: 0 40px 0 40px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 20px 0;
}

p.reduced-margin {
  margin: 0 0 10px 0;
}

.bold {
  font-weight: bolder;
}

.orange {
  color: #E99A00;
}

/* Portfolio  */

.portfolio-item {
  display: flex;
}

.portfolio-thumbnail {
  margin: 3px 20px 0 0;
}

.portfolio-thumbnail-img {
  border-radius: 20px;
}

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 10px 0;
}

.smaller {
  font-size: 14px;
}

.inline-link {
  font-family: 'Roboto', sans-serif;
}

.inline-link a {
  color: #EAE4D8;
  text-decoration: none;
}

.inline-link a:hover {
  text-shadow : 0 0 40px #EAE4D8;
}

/* Portfolio Item  */

.portfolio-article-content h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 20px 0;
}

.button-link {
  border: 0;
  padding: 0 0 0 5px;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.button-link:hover {
  text-shadow : 0 0 40px #EAE4D8;
}

.article-image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-image {
  /* max-height: 200px; */
  max-width: 360px;
  margin: 0 20px 20px 0;
  border-radius: 20px;
}

/* CV  */

.cv-heading {
  margin: 0 0 10px 0;
}

.widget-container {
  display: flex;
  margin: 0 0 30px 0;
}

.last-updated-widget {
  display: flex;
  align-items: center;
  height: 15px;
  padding: 5px;
  border-radius: 20px;
  background-color: #E99A00;
}

.last-updated-icon {
  max-height: 15px;
  margin: 0 5px 0 0;
}

.last-updated-text {
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0 5px 0 0;
}

.empty {
  flex: 1 1 auto;
}

.cv-section {
  display: flex;
  margin: 0 0 20px 0;
}

.cv-subheading {
  margin: 0 20px 0 0;
}

.cv-subheading h3 {
  font-size: 32px;
  line-height: 40px;
  margin: 40px 0 10px 0;
}

.cv-content h3 {
  margin: 30px 0 10px 0;
}

.references {
  font-weight: lighter;
  font-family: 'Roboto Condensed', sans-serif;
}

.not-bold {
  font-weight: 300;
}

/* Footer */

footer {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  text-align: right;
  border-top: 1px solid #EAE4D8;
  padding: 10px 0 20px 0;
  color: #EAE4D8;
  opacity: 20%;
}